:root {
  --link-color-2: #212121;
  --color-wite: #fff;
  --link-color: #2196f3;
  --foot-color: #2f303a;
  --adress-color: #757575;
  --foot-sdress-color: #ffffff99;
  --text-font-famyli: "Roboto", sans-serif;
  --font-logo: normal normal 700 26px/30.52px 'Raleway', sans-serif;
}

.global-body {
  background-color: #fff;
  font-family: var(--text-font-famyli);
  width: 1600px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
}

/* Main navigation  */
.web-class {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  padding-left: 215px;
  gap: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Website link */
.weblink {
  color: #000;
  font-family: var(--text-font-famyli);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.weblink span {
  color: #2196f3;
}

/* Link navigation */
.link-navigation {
  display: flex;
  padding-left: 94px;
  align-items: center;
  margin: 0;
  gap: 50px;
}

.navigation-link a:link {
  color: var(--link-color-2);
  font-family: var(--text-font-famyli);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;

}

.navigation-link a:hover {
  color: var(--link-color);
}

.navigation-link a:focus {
  color: red;
}

/* Contact */
.contact {
  box-sizing: content-box;
  text-align: center;
  display: flex;
  gap: 30px;
  padding-left: 300px;
  align-items: self-end;
}

.contact a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;
}

.contact :hover {
  color: var(--link-color);
}

/* Titel and button section. */

.efective-solution {
  padding: 200px 452px;
  background: #2f303a;
  width: 1600px;
}

.tittel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tittel-section {
  margin-top: 0px;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 696px;
}

/* Buton Service */
.button-service {
  color: var(--link-color-2);
  background-color: var(--link-color);
  text-align: center;
  font-size: 16px;
  line-height: 187.5%;
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.96px;
  cursor: pointer;
  flex-shrink: 0;
  align-items: center;
  margin-top: 30px;
  padding: 10px 19px;
}

.button-service:hover {
  color: var(--color-wite);
}

/* About details */
.about-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details {
  gap: 30px;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  padding-inline-start: 0px;
  padding-top: 94px;
}

.details h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.details p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 0px;
}

/* About What we do */

.about-images {
  display: flex;
  justify-content: center;
}


.what-we-do h2 {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.what-we-do li {
  display: flex;
  gap: 30px;
}

.what-we-do ul {
  padding-inline-start: 0px;
}

/* Our Team */
.about-our-team {
  display: block;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  width: 1600px;
}

.our-team {
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0;
  padding-left: 215px;
}

.our-team h2 {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 50px;
  margin: 0;
}

.our-team ul {
  display: flex;
  column-gap: 30px;
  padding-inline-start: 0px;
  margin: 0;
}

/* Footer */
.contacts-footer {
  display: block;
  padding-left: 215px;
  background: #2f303a;
  justify-content: first baseline;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;

}

.contacts-footer .weblink-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.weblink-footer span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.address {
  margin: 0;
}

.address a {
  color: var(--color-wite);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  text-decoration: none;
  margin: 0px;
}

.contact-ends a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;
  flex-direction: column;
  padding-bottom: 12px;
  flex-direction: column;

}

/* Portofoliu butons */
.portofolio {
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0;
  padding-left: 215px;
}

.filters {
  box-sizing: content-box;
  width: 516px;
  padding-left: 136px;
  display: flex;
  align-items: center;
  padding-left: 137px;
  border-radius: 4px;
  box-sizing: content-box;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;

}

.button {
  color: var(--link-color-2);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  padding: 6px 22px;

}

.filters :hover,
.filters :focus {
  background-color: var(--link-color);
  color: var(--color-wite);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-grid-text h4 {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
  margin: 0px;
}

.project-grid-text p {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
  margin: 0;
}